html,
body {
  background-color: #ccc1fe;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.pageDropdown {
  display: block;
  text-align: center;
  position: relative;
}

select.pageDropdown, option.pageDropdown {
  padding: 16;
  margin: 24;
}

.pageDropdown li {
  display: none;
}

ul.pageDropdown:first-child {
  display: block;
}

td.mainList {
  background-color: #ffffff;
  border-bottom-color: #61246e;
  border-bottom-style: solid;
  padding: 0 56;
}

.pageDropdown li.selected {
  display: block;
}

